<style type="text/css">

a:link 
{ 
text-decoration:none;
color:#585858;
}

a:visited
{
text-decoration:none;
color:#585858;
}

.button01, .button01:visited
{ 
display:block;
background-image:url(button01_1.png);
height:50px;
width:250px;
padding:0px;
line-height:50px;
font-family:Arial;
color:#585858;
text-align:center;
text-decoration:none; 
}

.button01:hover
{
background-image:url(button01_2.png);
}

.button02, .button02:visited
{ 
display:block;
float:left;
background-image:url(button02_1.png);
height:25px;
width:100px;
padding:0px;
line-height:25px;
font-family:Arial;
color:#585858;
text-align:center;
text-decoration:none; 
}

.button02:hover
{
background-image:url(button02_2.png);
}

.button03
{
position:absolute;
top:6px;
right:6px;
display:block;
height:25px;
width:150px;
line-height:25px;
border:1px solid #c5c5c5;
background:#f0f0f0;
font-family:Arial;
font-size:16px;
color:#585858;
text-align:center;
text-decoration:none; 
}

.button03:hover
{
background:#33b5e5;
}

.button04
{
position:absolute;
top:37px;
right:6px;
display:block;
height:25px;
width:150px;
line-height:25px;
border:1px solid #c5c5c5;
background:#f0f0f0;
font-family:Arial;
font-size:16px;
color:#585858;
text-align:center;
text-decoration:none; 
}

.button04:hover
{
background:#33b5e5;
}

.button05
{
display:block;
height:25px;
width:211px;
line-height:25px;
border:1px solid #c5c5c5;
background:#f5f5f5;
font-family:Arial;
color:#585858;
text-align:center;
text-decoration:none; 
}

.button05:hover
{
background:#33b5e5;
}

.button06
{
display:block;
height:27px;
width:213px;
line-height:25px;
border:1px solid #c5c5c5;
background:#f5f5f5;
font-family:Arial;
font-size:16px;
color:#585858;
text-align:center;
text-decoration:none; 
}

.button06:hover
{
background:#33b5e5;
}

.button07
{
position:absolute;
top:98px; 
display:block;
height:50px;
line-height:25px;
border:1px solid #c5c5c5;
background:#f5f5f5;
font-family:Arial;
font-size:16px;
font-weight:bold;
color:#585858;
text-align:center;
text-decoration:none;
}

.button07:hover
{
background:#33b5e5;
}

.inputtext01
{
display:block;
height:25px;
width:211px;
border:1px solid #c5c5c5;
background:#f5f5f5;
font-family:Arial;
color:#585858;
}

.inputtext02
{
display:block;
height:25px;
width:60px;
border:1px solid #c5c5c5;
background:#f5f5f5;
font-family:Arial;
color:#585858;
}

.header
{
background-image:url(background.png);
position:absolute;
top:2px;
right:2px;
left:2px;
min-width:1280px;
height:101px;
line-height:100px;
font-size:40px;
text-align:center;
border:1px solid #c5c5c5;
}

.navbar
{
position:absolute;
top:0px;
right:0px;
left:0px;
min-width:1000px;
height:25px;
text-align:center;
border:1px solid #c5c5c5;
background:#f5f5f5;
}

.sidebar
{
position:absolute;
top:104px;
left:2px;
bottom:2px;
width:250px;
min-height:500px;
border:1px solid #c5c5c5;
background:#f5f5f5;
}

.content
{
position:absolute;
top:106px;
right:2px;
left:255px;
min-width:1077px;
min-height:498px;
bottom:2px;
border:1px solid #c5c5c5;
}

.contentfull
{
position:absolute;
top:26px;
right:0px;
left:0px;
bottom:0px;
border:1px solid #c5c5c5;
}

.contenttabelle
{
position:absolute;
top:173px;
right:250px;
left:25px;
min-width:799px;
min-height:300px;
overflow:auto;
bottom:25px;
border:1px solid #c5c5c5;
background:#f5f5f5;
text-align:center;
}

.contentvorschau
{
position:absolute;
top:173px;
right:25px;
width:200px;
min-height:300px;
bottom:25px;
border:1px solid #c5c5c5;
background:#f5f5f5;
text-align:center;
}

.username
{
position:absolute;
top:68px;
right:6px;
display:block;
height:25px;
width:150px;
line-height:25px;
border:1px solid #c5c5c5;
background:#f0f0f0;
font-family:Arial;
font-size:16px;
color:#33b5e5;
text-align:center;
text-decoration:none;
}

.profilbild
{
position:absolute;
top:88px;
left:375px;
display:block;
height:228px;
width:171px;
line-height:228px;
border:1px solid #c5c5c5;
background:#f5f5f5;
font-family:Arial;
font-size:16px;
color:#585858;
text-align:center;
text-decoration:none;
}

.tabelle
{
table-layout:fixed;
width:100%;
min-width:750px;
border:none;
border-spacing:1px;
font-family:arial;
text-align:center;
}

.tabelle td, th
{
border:1px solid #c5c5c5;
}

.vorschau
{
table-layout:fixed;
width:100%;
min-width:200px;
border:none;
border-spacing:1px;
font-family:arial;
text-align:center;
}

.vorschau td, th
{
border:1px solid #c5c5c5;
}

.vorschaubild
{
position:absolute;
bottom:1px;
top:52px;
left:1px;
right:1px;
}

.bannerlinks
{
background-image:url(bannerlinks.png);
position:absolute;
top:0px;
left:0px;
height:101px;
width:500px;
}

.bannerrechts
{
background-image:url(bannerrechts.png);
position:absolute;
top:0px;
right:0px;
height:101px;
width:500px;
}

</style>